*{margin: 0px; padding: 0px;font-family: "Roboto",Arial,sans-serif;}
ul,ol{list-style: none;}
a{text-transform: none;}


#header{background: #fff;border-bottom: 1px solid #aaa;height: 48px;width: 100%}
    #menu{left: 0;display: inline-block;height: 46px;position: absolute;top: 0;width: 46px;}
    #menu span{background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAV0lEQVRIx+3VQQ0AIAwEwWo5Jfg3VUwQQsM0WQHz6VV31+QKAAAAAAAAAOAwIMlK0i8FAADwE+DFAwC4CfCFAAAALLEhA7DE3igAwL+ASQEAAAAAAIxuAySZPrhcy+LMAAAAAElFTkSuQmCC); 
        background-size: contain;height: 24px;left: 11px;position: absolute;top: 11px;width: 24px;}
    #logo{background-size: contain;background-image: url(https://ssl.gstatic.com/android/market_images/web/logo_m_play.png);
        background-repeat: no-repeat;display: inline-block;height: 40px;margin-top: 5px;width: 160px;margin-left: 100px;}
    #magnifier{cursor: pointer;display: inline-block;height: 46px;position: absolute;top: 0;width: 46px;left:306px;}
    #magnifier span{background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAABSElEQVRYw+3Z0Q2DIBAGYEdwhOafwBEcwREYwRG6gSN0BEfoCIzgCIxAX3hoiCeCgIc5k3syNffBHYLtrLVdy9EJQAACeDAgdAHoASgAKwADwHph3D3VZbiyAgC8iaSpMADm2wEABgA6InE/NIDXLQCXvLmQ/P9sDFUBgeQ3V1KjF4u7RyFeNQGaSEKdaPaZwOsqADe6e7V8ugwOZlAVBbil0uSoYQKxlQaoK6NGlFPS81IBa+qIHSD8xv6UBPhTPmcALCmDEg1w9e9P95gBMPnPLQUYdwB9BsAogIgeaLeEmm/ipyyjNV5kk2wlHruZK7yd/rZ8oIlekjkdKW21VajQoX5OQbD5rEJsUYIINh+23O90LCI74OLbOBrBCpCCYAeIRbAExCDYAs4iWAPOINgDAog2AASijRIiEOlNLH/yCUAAAhBAKH4d6lEJvw9suwAAAABJRU5ErkJggg==);
        background-size: contain;height: 24px;left: 11px;position: absolute;top: 11px;width: 24px;}

    .topbox{padding: 15px 0;text-align: center;width: 100%;background-color: #e5e5e5}    
    .topbox ul{display: inline-block;text-align: left;width: 345px;}
        .smallmenu{float:left;background-color: #fff;border: 1px solid rgba(0,0,0,0.17);color: #737373;cursor: pointer;display: inline-block;
            font-size: 14px;line-height: 34px;min-width: 120px;padding: 0 20px;position: relative;text-align: center;margin: 5px;}

    .container{width: 100%;background-color: #e5e5e5;}

    .cabinet{height:450px;}
    .cabinet h2{display: inline-block;font-size: 24px;line-height: 28px;margin: 10px 13px;text-align: left}
    .cabinet>p{display: inline-block;font-size: 14px;line-height: 16px;margin: 4px 15px;text-align: left}
    .cabinet ul li {float: left;height:335px;width: 160px;margin: 10px 10px 40px 10px;padding-bottom: 5px;background-color: #fafafa;}
    .cabinet ul li img{float:left;width:160px;height : 245;display: block;margin: 10px auto;background-color: #e5e5e5;}
    .cabinet ul li p:nth-child(2){color: #333;font-size: 16px;line-height: 18px;padding-left: 5px; overflow: hidden;
        text-decoration: none;white-space: nowrap;}
    .cabinet ul li p:nth-child(3){color: #aaa;display: inline-block;font-size: 13px;line-height: 16px;margin: 1px 0;max-width: 132px;
        overflow: hidden;white-space: nowrap;padding-left: 5px}
    .cabinet ul li p:nth-child(4){font-size: 13px;font-weight: 400;line-height: 17px;padding-left: 2px;color: #1aa1e1;
        text-align: right;padding-right: 5px}

    .container ul li:hover { background: #ddd; } 
    .container .more{height: 25px;width: 60px;background-color: #1aa1e1;margin-top: -30;right: 20px;position: absolute;
        line-height: 30px;text-align: center;}
    .container .more span{border: 1px;color: #fff;}
    
    #footer{margin-left: 13px;padding: 28px 5px;color: #555;font-weight: 400;font-size: 13px;}

    #summerevent{background-image: url(https://lh4.ggpht.com/ghqLgt9b9Tx2BP_SXwfystdwm-UCQeRv5esOvs1e_6ABNYg6TB2BmGHmB4edgYUBxmD3=h556-rw);}



/*
.container p {padding-top: 10px;}


.container ul li p{margin-top: -5px}
.container ul li p first-child{overflow: hidden;}


.cabinet{clear:both;width: 70%; height: 380px;overflow: hidden;margin-top: 40px;margin-left: 240px;padding: 10px 0 30px 0;}
.cabinet ul li p:nth-child(2){color: #333;display: block;font-size: 16px;line-height: 18px;max-height: 36px;min-height: 18px;
    overflow: hidden;text-decoration: none;white-space: nowrap;}
.cabinet ul li p:nth-child(3){color: #aaa;display: inline-block;font-size: 13px;line-height: 16px;margin: 1px 0;max-width: 132px;
    overflow: hidden;white-space: nowrap;}
.cabinet ul li p:nth-child(4){font-size: 13px;font-weight: 400;line-height: 17px;padding-left: 2px;color: #1aa1e1;
    text-align: right;margin-top: }


.cabinet>p{margin-bottom: 20px;}


.containerbox1{padding-top: 20px;}



